{% extends 'base.html.twig' %}

{% block content %}

<div class="wrapper">
<div class="container">

    <h2 style="margin-top: 0;">Qui sommes-nous ?</h2>
    <p>
        SoutenonsLaConvention est une initiative externe indépendante de la Convention
        Citoyenne, qui a pour but de les soutenir en associant le reste de la
        population à leur démarche.
    </p>
    <p>
        Cette initiative est apolitique. Ni de gauche, ni de droite.
        Sans renoncer à nos sensibilités, il est temps de s'allier
        au nom de l'intérêt général, autour d'une démarche qui représente
        une bouffée d'air frais démocratique.
    </p>
    <p>
        Nous souhaitons respecter l'indépendance de la Convention.
        Ce collectif n'a pour but que de les soutenir, sans autre revendication.
    </p>

    <h2 style="margin-top: 40px;">Nos soutiens</h2>
    <p>
        Cette initiative a été lancée dans l'urgence, sans soutien particulier,
        alors que des voix se levaient mais qu'il manquait un moyen concrêt pour
        l'opinion publique de soutenir la Convention Citoyenne.
    </p>
    <p>
        Elle est apolitique et inclusive.
    </p>
    <p>
        Si vous vous retrouvez dans
        <a target="_blank"
    href="https://www.mesopinions.com/petition/nature-environnement/sortie-crise-soutenons-convention-citoyenne-climat/86134">la pétition</a>, rejoignez-nous !
    </p>
    <h3>Associations</h3>
    <div class="soutiens-grid">
        <div>
            <a target="_blank" href="https://alternatiba.eu/">
                <img src="{{ asset('img/alternatiba.jpg')}}" alt="Alternatiba">
            </a>
        </div>
        <div>
            <a target="_blank" href="https://twitter.com/santeair">
                <img src="{{ asset('img/airsanteclimat.png')}}" alt="Air Santé Climat">
            </a>
        </div>
        <div>
            <a target="_blank" href="https://www.asef-asso.fr/">
                <img src="{{ asset('img/asef.png')}}" alt="Association Santé Environnement France">
            </a>
        </div>
        <div>
            <a target="_blank" href="http://www.climactes.org/">
                <img src="{{ asset('img/climactes.png')}}" class="bigger" alt="Climactes">
            </a>
        </div>
        <div>
            <a target="_blank" href="https://www.lac-chablais.fr/acteur/108/Collectif-Environnement-Sante-74">
                <img src="{{ asset('img/collectif-environnement-sante.jpg')}}" class="bigger" alt="Collectif Environnement Santé 74">
            </a>
        </div>
        <div>
            <a target="_blank" href="http://conseil-departemental-69.medecin.fr/wp-content/uploads/2020/01/charte-PEPSEL.pdf">
                <img src="{{ asset('img/pepsel.png')}}" class="bigger" alt="PEPSEL">
            </a>
        </div>
        <div>
            <a target="_blank" href="">
                <img src="{{ asset('img/karuna-shechen.png')}}" alt="Karuna Shechen">
            </a>
        </div>
        <div>
            <a target="_blank" href="https://www.sera.asso.fr/">
                <img src="{{ asset('img/aseara.png')}}" alt="Association Santé Environnement Auvergne Rhônes-Alpes">
            </a>
        </div>
        <div>
            <a target="_blank" href="https://www.sfse.org/">
                <img src="{{ asset('img/sfse.png')}}" alt="Société Francophone de Santé et Environnement">
            </a>
        </div>
        <div>
            <a target="_blank" href="https://liegepourleclimat.be/">
                <img src="{{ asset('img/liegepourleclimat.png')}}" alt="Liège pour le Climat">
            </a>
        </div>
        <div>
            <a target="_blank" href="https://youthforclimate.fr/">
                <img src="{{ asset('img/youth-for-climate-france.png')}}" alt="Youth For Climate France">
            </a>
        </div>
    </div>

    <h3>Personnalités</h3>
    <p>
        Matthieu Ricard
    </p>


    <h3>Initiatives liées</h3>
    <p>
        Appel des soignants à soutenir la Convention Citoyenne pour le Climat
    </p>

    <br>
    <p>
        <a class="btn" target="_blank" href="mailto:nicolas@soutenonslaconvention.fr">
            Contactez-nous pour ajouter votre organisation
        </a>
    </p>

</div>
</div>


{% endblock %}
