{% extends 'base.html.twig' %}

{% block content %}

<div class="wrapper">
<div class="container">

    {% set difference = date('06/22/2020').diff(date('now')) %}
    {% set daysLeft = difference.days %}
    <div class="countdown">
        <span class="countdown-number">J - {{ daysLeft }}</span>
        <span class="countdown-text">
            <span class="countdown-text-line1">AVANT LA REMISE DES</span>
            <span class="countdown-text-line2">PROPOSITIONS</span>
        </span>
    </div>

    <p>
        La France a une chance que d’autres pays n’ont pas.
    </p>
    <p>
        Il y a 9 mois a démarré
        un processus démocratique qui répond aux enjeux du moment :
        la Convention Citoyenne pour le Climat.
    </p>
    <p>
        Au terme d’un long travail, les 150 citoyens de la Convention
        aboutissent à des propositions qu’il serait utopique d’attendre des
        structures politiques classiques.
    </p>
    <p>
        Des propositions pour réorienter notre société
        vers des pratiques plus respectueuses de notre avenir;
        dans un contexte
        où des sommes colossales vont êtres injectées dans l'économie,
        et où nous manquons cruellement de temps.
    </p>
    <p>
        Soutenons-les !!!
    </p>
    <p class="btn-group" style="margin-top: 50px">
        <a class="btn"  href="{{ path('soutiens') }}">
            Soutenir la Convention
        </a>
        <a class="btn" href="#why">
            Pourquoi ?
        </a>
    </p>
    <!--div class="petition-cta">
        <a class="btn" target="_blank"
        href="https://www.mesopinions.com/petition/nature-environnement/sortie-crise-soutenons-convention-citoyenne-climat/86134">
        Voir / Signer la pétition</a>

        <div class="counter">
            <span class="counter-count">20 000</span>
            <span class="counter-sign">signatures</span>
            <span class="counter-since">depuis le 13 avril</span>
        </div>
    </div-->

</div>
</div>


<div class="wrapper grey-bg">
<div class="container">


    <h2>C'est quoi la Convention Citoyenne ?</h2>

    <p>

        <img src="{{ asset('img/membres-convention.jpg')}}"
            alt="les 150 membres de la Convention Citoyenne pour le Climat">
        <span class="copyright">©Katrin Baumann</a>
    </p>
    <p>
        La <a target="_blank" href="https://www.conventioncitoyennepourleclimat.fr/">Convention
            Citoyenne pour le Climat</a> est composée de citoyens comme vous et moi,
        tirés au sort, représentatifs de la diversité française, qui, depuis 6
        mois, s’informent, auditionnent des experts, débattent et font mûrir
        leurs réflexions. C’est notre intelligence collective mise au service de
        l’intérêt général.
    </p>
    <p>
        Ils sont, à bien des égards, plus représentatifs de la société française
        que les élus.
    </p>
    <p>
        Ils sont d’autant plus légitimes que ce procédé court-circuite les
        travers de notre système politique : pas de logique de partis, pas de
        court-termisme lié aux échéances électorales, pas de crainte de froisser
        telle ou telle partie de l’électorat.
    </p>
    <p>
        Ils sont libres de se concentrer
        pleinement sur leur <span style="white-space: nowrap">mandat :</span>
        <br>
        <i>Trouver des mesures pour réduire les
        émission de gaz à effet de serre d’au moins 40% d’ici 2030, dans un
        esprit de justice sociale</i>.
    </p>

    <h3>Présentation de la Convention par Cyril Dion</h3>
    <div class="youtube-video-wrapper">
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/SIyoEGizt8M?start=3026"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>

</div>
</div>


<div class="wrapper">
<div class="container">

    <h2 id="why" style="margin-top: -30px; padding-top: 30px;">Pourquoi soutenir la Convention ?</h2>
    <p>
        Une partie des propositions de la Convention ne sera pas simple à adopter.
    </p>
    <p>
        Ni par le gouvernement, ni par la population.
    </p>
    <p>
        Elles vont bousculer nos habitudes.
    </p>
    <p>
        Il est possible que ces propositions ne soient pas suffisamment
        prises en compte, qu'elles soient noyées dans les priorités de
        court-terme ou vidées de leur contenu.
    </p>
    <p>
        Il est en tout cas probable qu'elles rencontrent des obstacles.
    </p>
    <p>
        C'est dans ce contexte que nous souhaitons donner la possibilité
        à l'opinion publique d'exprimer son soutien à la Convention Citoyenne
        pour le Climat.
    </p>


    <h2 style="margin-top: 50px;">Qui sommes-nous ?</h2>
    <p>
        <i>Soutenons La Convention</i> est une initiative externe indépendante de la Convention
        Citoyenne, qui a pour but de les soutenir en associant le reste de la
        population à leur démarche.
    </p>
    <div class="btn-group">
        <a class="btn" href="{{ path('about')}}">
            Plus d'infos
        </a>
        <a class="btn"  href="{{ path('soutiens') }}">
            Soutenez la Convention !
        </a>
    </div>
    <p class="who-are-we-facebook-cta">
        <a style="float:left; margin-right: 20px; position: relative; top: -10px;"
            target="_blank" href="https://www.facebook.com/Soutenons-la-Convention-102637561438247">
            <img src="{{ asset('img/icon-facebook.png')}}" alt="">
        </a>
        Suivez-nous sur facebook pour être tenu au courant de l'évolution
        et des initiatives de soutien à la Convention.
    </p>
</div>
</div>



{% endblock %}
