<footer>
    <div class="wrapper">
    <div class="container">

        <h3>Soutenons La Convention</h3>
        <p>#soutenonsLaConvention</p>
        <p>
            <a target="_blank" href="https://www.facebook.com/Soutenons-la-Convention-102637561438247">
                <img src="{{ asset('img/icon-facebook.png')}}" alt="">
            </a>
            <a target="_blank" href="https://twitter.com/SoutenonsLaCCC">
                <img src="{{ asset('img/icon-twitter.png')}}" alt="">
            </a>
        </p>
        <p>contact@soutenonslaconvention.fr</p>

        <br><br>
        <h3>La Convention Citoyenne pour le Climat</h3>
        <p>
            <a target="_blank" href="https://www.conventioncitoyennepourleclimat.fr/">
                conventioncitoyennepourleclimat.fr
            </a>
        <p>
            <a target="_blank" href="https://www.facebook.com/ConvCitoyenne">
                <img src="{{ asset('img/icon-facebook.png')}}" alt="">
            </a>
            <a target="_blank" href="https://twitter.com/Conv_Citoyenne">
                <img src="{{ asset('img/icon-twitter.png')}}" alt="">
            </a>
            <a target="_blank" href="https://www.instagram.com/conv_citoyenne/">
                <img src="{{ asset('img/icon-instagram.png')}}" alt="">
            </a>
        </p>
    </div>
    </div>
</footer>
