<header class="header">
    <div class="wrapper">
        <div class="container menu">
            <a href="{{ path('index') }}"  {{ app.request.get('_route') == 'index' ? 'class="active"' }}>Accueil</a>
            <a href="{{ path('soutiens') }}" {{ app.request.get('_route') == 'soutiens' ? 'class="active"' }}>Soutiens</a>
            <a href="{{ path('about') }}" {{ app.request.get('_route') == 'about' ? 'class="active"' }}>Qui sommes-nous</a>
        </div>
    </div>
    <div class="wrapper banner">
        <div class="container">
            <h1 class="title">
                <div class="title-line1">Soutenons La Convention</div>
                <div class="title-line2">Citoyenne pour le Climat</div>
            </h1>
            <h2 class="hashtags">
                <div class="hashtag1">#soutenonsLaConvention</div>
                <div class="hashtag2">#avecLes150</div>
            </h2>
            <div class="counter">
                <span class="counter-count">25 000</span>
                <span class="counter-sign">signatures</span>
                <span class="counter-since">depuis le 13 avril</span>
            </div>
        </div>
    </div>
</header>
