<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Soutenons un processus démocratique qui répond aux enjeux du moment : la Convention Citoyenne pour le Climat ! #SoutenonsLaConvention #avecLes150" />
<meta property="og:soutien-item-title" content="Soutenons la Convention"/>
<meta property="og:url" content="{{ url('index') }}"/>
<meta property="og:description" content="Soutenons un processus démocratique qui répond aux enjeux du moment. #SoutenonsLaConvention #avecLes150"/>
<meta property="og:image" content="{{ absolute_url(asset('img/soutenons-la-convention-300.png')) }}?v={{ asset_version }}"/>
<meta property="og:image:width" content="600"/>
<meta property="og:image:height" content="315"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ absolute_url(asset('img/soutenons-la-convention-300.png')) }}?v={{ asset_version }}">
<meta name="twitter:site" content="@SoutenonsLaCCC">
<meta name="twitter:soutien-item-title" content="Soutenons la Convention">
<meta name="twitter:description" content="Soutenons un processus démocratique qui répond aux enjeux du moment. #SoutenonsLaConvention #avecLes150">
<title>{% block title %}Soutenons la Convention{% endblock %}</title>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ asset('css/main.css') }}?v={{ asset_version }}" />
<link rel="stylesheet" href="{{ asset('css/index.css') }}?v={{ asset_version }}" />
<link rel="stylesheet" href="{{ asset('css/soutiens.css') }}?v={{ asset_version }}" />
{% block stylesheets '' %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2063915-19"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-2063915-19');
</script>
