<div class="soutiens-grid">
    <div>
        <a target="_blank" href="https://alter.pub/">
            <img src="{{ asset('img/alter-pub.jpg')}}" alt="Alter Pub">
        </a>
    </div>
    <div>
        <a target="_blank" href="https://alternatiba.eu/">
            <img src="{{ asset('img/alternatiba.jpg')}}" alt="Alternatiba">
        </a>
    </div>
    <div>
        <a target="_blank" href="https://twitter.com/santeair">
            <img src="{{ asset('img/airsanteclimat.png')}}" alt="Air Santé Climat">
        </a>
    </div>
    <div>
        <a target="_blank" href="https://www.asef-asso.fr/">
            <img src="{{ asset('img/asef.png')}}" alt="Association Santé Environnement France">
        </a>
    </div>
    <div>
        <a target="_blank" href="http://www.climactes.org/">
            <img src="{{ asset('img/climactes.png')}}" class="bigger" alt="Climactes">
        </a>
    </div>
    <div>
        <a target="_blank" href="https://www.lac-chablais.fr/acteur/108/Collectif-Environnement-Sante-74">
            <img src="{{ asset('img/collectif-environnement-sante.jpg')}}" class="bigger" alt="Collectif Environnement Santé 74">
        </a>
    </div>
    <div>
        <a target="_blank" href="">
            <img src="{{ asset('img/karuna-shechen.png')}}" alt="Karuna Shechen">
        </a>
    </div>
    <div>
        <a target="_blank" href="http://conseil-departemental-69.medecin.fr/wp-content/uploads/2020/01/charte-PEPSEL.pdf">
            <img src="{{ asset('img/pepsel.png')}}" class="bigger" alt="PEPSEL">
        </a>
    </div>
    <div>
        <a target="_blank" href="https://www.sera.asso.fr/">
            <img src="{{ asset('img/aseara.png')}}" alt="Association Santé Environnement Auvergne Rhônes-Alpes">
        </a>
    </div>
    <div>
        <a target="_blank" href="https://www.sfse.org/">
            <img src="{{ asset('img/sfse.png')}}" alt="Société Francophone de Santé et Environnement">
        </a>
    </div>
    <div>
        <a target="_blank" href="https://liegepourleclimat.be/">
            <img src="{{ asset('img/liegepourleclimat.png')}}" alt="Liège pour le Climat">
        </a>
    </div>
    <div>
        <a target="_blank" href="https://wecf-france.org/">
            <img src="{{ asset('img/wecf.png')}}" alt="Liège pour le Climat">
        </a>
    </div>
    <div>
        <a target="_blank" href="https://youthforclimate.fr/">
            <img src="{{ asset('img/youth-for-climate-france.png')}}" alt="Youth For Climate France">
        </a>
    </div>
</div>
